<VirtualHost *:80>
  DocumentRoot "/var/www/mushpup"
  ServerName mushpup

  <Directory "/var/www/mushpup">
    Options Indexes FollowSymLinks Multiviews
    AllowOverride All
    Order allow,deny
    allow from all
  </Directory>
</VirtualHost>
