#
# local-wiki.env
# Secret settings for my local Wikka wiki and backup.
#
MYSQL_DB    = '{{ wiki.mysql_database }}'
MYSQL_USER  = 'root'
MYSQL_PASS  = '{{ mysql.password }}'

GMAIL_USER  = 'klenwell.archives@gmail.com'
GMAIL_PASS  = 'TBA'

# m{ backup_local_wiki }m16
7Z_PASS     = "TBA"
