<?php
/**
 * WikkaWiki configuration file : Local Wiki
 *
 */
$wakkaConfig = array(

    # database
    'mysql_host'        => 'localhost',
    'mysql_database'    => '{{ wiki.mysql_database }}',
    'mysql_user'        => '{{ wiki.mysql_user }}',
    'mysql_password'    => '{{ wiki.mysql_password }}',
    'table_prefix'      => '',
    'sql_debugging'     => '0',

    # wikka site settings
    'root_page'         => 'HomePage',
    'base_url'          => 'http://wiki/',
    'wakka_name'        => 'Local Wiki',
    'meta_keywords'     => 'wikka, wiki, php',
    'meta_description'  => 'local wiki',
    'rewrite_mode'      => '1',

    # mail
    'phpmailer_path'    => '3rdparty/plugins/phpmailer/class.phpmailer.php',
    'use_gmail'         => TRUE,
    'gmail_user'        => '{{ wiki.gmail_user }}',
    'gmail_pw'          => '{{ wiki.gmail_password }}',

    # recaptcha
    'use_recaptcha'     => TRUE,
    'recaptcha_domain'  => '{{ wiki.recaptcha_domain }}',
    'rc_public_key'     => '{{ wiki.rc_public_key }}',
    'rc_private_key'    => '{{ wiki.rc_private_key }}',

    # admin
    'admin_email'       => '{{ wiki.admin_email }}',
    'admin_users'       => '{{ wiki.admin_users }}',

    # third-party services
    'ga_code' => NULL,

    /* permissions
        ACL Codes
        *   Everyone
        +   Registered Users
        !*  Admins Only
    */
    'default_write_acl'         => '!*',
    'default_read_acl'          => '!*',
    'default_comment_acl'       => '*',
    'allow_user_registration'   => '1',

    # wikka settings
    'wakka_version'             => 'master',
    'enable_user_host_lookup'   => '0',
    'wiki_suffix'               => '@wikka',
    'enable_version_check'      => '1',
    'referrers_purge_time'      => '30',
    'pages_purge_time'          => '0',
    'xml_recent_changes'        => '10',
    'version_check_interval'    => '1h',
    'wikiping_server'           => '',

    # paths
    'action_path'               => 'plugins/actions,actions',
    'handler_path'              => 'plugins/handlers,handlers',
    'wikka_formatter_path'      => 'plugins/formatters,formatters',
    'wikka_highlighters_path'   => 'formatters',
    'wikka_template_path'       => 'plugins/templates,templates',
    'geshi_path'                => '3rdparty/plugins/geshi',
    'geshi_languages_path'      => '3rdparty/plugins/geshi/geshi',
    'safehtml_path'             => '3rdparty/core/safehtml',
    'mime_types'                => 'mime_types.txt',

    # themes / UI
    'theme'                     => 'bootstrap',
    'gui_editor'                => '1',
    'hide_comments'             => '0',
    'grabcode_button'           => '1',
    'require_edit_note'         => '0',
    'anony_delete_own_comments' => '1',
    'public_sysinfo'            => '0',
    'double_doublequote_html'   => 'safe',
    'upload_path'               => 'uploads',
    'stylesheet_hash'           => 'abc123',

    # geshi settings
    'geshi_header'              => 'div',
    'geshi_line_numbers'        => '1',
    'geshi_tab_width'           => '4',
);
