The Ansible Ubuntu Workstation playbook was run successfully.

For more information, see: https://github.com/tatwell/ansible-ubuntu-workstation

---
USER: {{ ansible_env.USER }}
HOME: {{ ansible_env.HOME }}
TIMESTAMP: {{ ansible_date_time.iso8601 }}
