# Include this file into your ~/.bashrc
# -------------------------------------
export GAE_SDK_ROOT="{{ gae_install_dir }}/google_appengine/"
export PATH=$PATH:$GAE_SDK_ROOT
alias gae_server='$GAE_SDK_ROOT/dev_appserver.py'
